.feedBack {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  margin-top: 400px;
}
.feedBack .bgFeedBack {
  background: #f5f5f5;
  border-radius: 15px;
  border: 10px groove #3a75f9;
}
.feedBack .slick-next:before,
.feedBack .slick-prev:before {
  position: relative;
  bottom: 8px;
}
.feedBack .slick-next,
.feedBack .slick-prev {
  overflow: hidden;
  padding: 15px 45px !important;
  z-index: 90;
}
.feedBack .slick-next:before {
  right: 18px;
}
.feedBack .slick-dots button {
  background: transparent !important;
  position: relative;
  bottom: 75px;
}
.feedBack .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 10px;
  height: 20px;
  cursor: pointer;
}
.feedBack .slick-dots li.slick-active button:before {
  color: #d043f8;
  font-size: 15px;
}
.feedBack .slick-dots li button:before {
  font-size: 15px;
}
.feedBack .imgFeedBack {
  width: 120px;
  border-radius: 50%;
  height: 120px;
  line-height: 120px;
  object-fit: cover;
}
.feedBack .titleFeedBack {
  font-size: 40px;
  line-height: 50px;
  color: #db40f9;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .feedBack {
    margin-top: 360px;
  }
}
@media screen and (max-width: 1024px) {
  .feedBack {
    margin-top: 1210px;
  }
}
@media screen and (max-width: 920px) {
  .feedBack {
    margin-top: 2310px;
  }
}
@media screen and (max-width: 768px) {
  .feedBack .titleFeedBack {
    font-size: 30px;
    line-height: 55px;
  }
}
@media screen and (max-width: 672px) {
  .feedBack {
    margin-top: 2400px;
  }
}
@media screen and (max-width: 640px) {
  .feedBack .titleFeedBack {
    font-size: 25px;
    line-height: 50px;
  }
}
@media screen and (max-width: 600px) {
  .feedBack {
    margin-top: 2100px;
  }
}
@media screen and (max-width: 500px) {
  .feedBack {
    margin-top: 2150px;
  }
}
@media screen and (max-width: 412px) {
  .feedBack {
    margin-top: 2250px;
  }
}
