.course .bgCourseList:nth-child(1) {
  background: #1778ff;
  opacity: 0.7;
}
.course .bgCourseList:nth-child(2) {
  background: #ff4560;
  opacity: 0.7;
}
.course .bgCourseList:nth-child(3) {
  background: #feb424;
  opacity: 0.7;
}
.course .bgCourseList:nth-child(4) {
  background: #00e396;
  opacity: 0.7;
}
.course .bgCourseList:nth-child(5) {
  background: #785ed0;
  opacity: 0.7;
}
.course .bgCourseList:nth-child(6) {
  background: #dc3ff8;
  opacity: 0.7;
}
.courseOfPage {
  background: white;
  margin-top: 600px;
}
.courseOfPage .frameCourse {
  position: relative;
  overflow: hidden;
}
.courseOfPage .frameCourse:hover {
  background: #f0f4fa;
}
.courseOfPage .frameCourse::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(236, 221, 221, 0.6) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.courseOfPage .frameCourse:hover:before {
  left: 100%;
}
.course{
  margin-top: 30px;
  background-image: url("../../../img/teamwork.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.course .paginationCourseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.75s;
  opacity: 0;
}
.course .paginationCourseOverlay:hover {
  opacity: 1;
}
.course .titlePaginationCourse {
  transition: all 0.3s;
  border: 3px solid rgb(243, 243, 168);
}
.course .titlePaginationCourse:hover {
  background: #e2e8f0;
  border: 3px solid rgb(222, 218, 218);
}
.courseOfPage .frameCourse .btnLearnMore {
  bottom: 42px;
  position: absolute;
  left: 255px;
}
.courseOfPage .courseOfPageHeader {
  display: flex;
}
.courseOfPage .moTaCourseOfPage {
  width: 290px;
}
.courseOfPage .footerCourseOfPage {
  display: flex;
}
.course .programming {
  width: 1150px !important;
}
.course .titleCourse{
  margin-left: 0vw !important;
}

/* Responsive */
@media screen and (max-width: 1286px) {
  .courseOfPage .imgCourseOfPage {
    position: relative;
    left: 3px;
  }
  .courseOfPage .moTaCourseOfPage {
    width: 15vw;
  }
  .titleCourseOfPage {
    width: 10vw;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    position: absolute;
    bottom: 25px;
    left: 223px;
  }
  .course .programming {
    width: 72vw !important;
  }
}
@media screen and (max-width: 1200px) {
  .course .container {
    width: 98%;
    margin: 0;
  }
  .course .programming {
    width: 91vw !important;
  }
  .course .titleCourse{
    margin-left: 18vw !important;
  }
}
@media screen and (max-width: 1024px) {
  .course .container {
    width: 98%;
    margin: 0;
  }
  .course .programming {
    width: 90vw;
  }
  .courseOfPage .imgCourseOfPage {
    left: -9px;
  }
  .titleCourseOfPage {
    width: 100px;
  }
  .courseOfPage .moTaCourseOfPage {
    width: 23vw;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    position: absolute;
    bottom: 42px;
    left: 22vw;
  }
  .courseOfPage .footerCourseOfPage {
    display: block;
  }
  .courseOfPage{
    margin-top: 800px;
  }
}
@media screen and (max-width: 1000px) {
  .course .container{
    width: 90% !important;
    margin: 0;
  }
  .course .titleCourse{
    margin-left: 18vw;
  }
}
@media screen and (max-width: 768px) {
  .course .programming {
    width: 87vw !important;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    bottom: 40px;
    left: 56vw;
  }
  .courseOfPage .imgCourseOfPage {
    left: 0px;
  }
  .courseOfPage .footerCourseOfPage {
    display: flex;
  }
  .courseOfPage{
    margin-top: 1250px;
  }
}
@media screen and (max-width: 640px) {
  .courseOfPage .frameCourse .btnLearnMore {
    left: 51vw;
  }
  .courseOfPage .moTaCourseOfPage {
    width: 53vw;
  }
  .course .programming {
    width: 84vw !important;
  }
}
@media screen and (max-width: 540px) {
  .imgCourseOfPage {
    left: 1vw !important;
  }
  .courseOfPage .courseOfPageHeader {
    display: block;
  }
  .courseOfPage .imgCourseOfPage {
    width: 47vw;
  }
  .titleCourseOfPage {
    width: 50vw;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    left: 46vw;
  }
  .courseOfPage .moTaCourseOfPage {
    width: 48vw;
  }
}
@media screen and (max-width: 500px) {
  .courseOfPage .imgCourseOfPage {
    position: relative;
    left: -9px !important;
  }
  .course .programming {
    width: 78vw !important;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    left: 41vw;
  }
  .courseOfPage .footerCourseOfPage {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .courseOfPage .frameCourse .btnLearnMore {
    bottom: 49px;
  }
}
@media screen and (max-width: 430px) {
  .courseOfPage .frameCourse .btnLearnMore {
    left: 58%;
  }
  .course .programming {
    width: 76vw !important;
  }
}
@media screen and (max-width: 359px) {
  .titleCourseOfPage {
    width: 35vw;
  }
  .courseOfPage .imgCourseOfPage {
    width: 36vw;
  }
  .courseOfPage .moTaCourseOfPage {
    width: 33vw;
  }
  .courseOfPage .frameCourse .btnLearnMore {
    left: 52%;
  }
}
