.overview .titleHighlight{
    padding-left: 340px;
    font-size: 35px;
    color: #c6a63d;
}
.overview .imgHighlight{
    border: 4px dashed #cf44f8 !important;
    transition: all 0.3s;
    background: radial-gradient(#eb2f96, transparent);
}
.overview .imgHighlight:hover{
    transform: translateY(-40px);
}
.overview .catalogHighlight{
    transition: all 0.3s;
}
.overview .catalogHighlight:hover{
    color: #6366f1;
    background-color: white;
}

/* Responsive */
@media screen and (max-width: 1286px) {
    .overview .titleHighlight {
        padding-left: 17vw;
    }
}
@media screen and (max-width: 1000px) {
    .overview .container{
        width: 98% !important;
        margin: 0;
    }
}
@media screen and (max-width: 776px) {
    .overview .titleHighlight {
        font-size: 30px;
    }
}
@media screen and (max-width: 640px) {
    .overview .titleHighlight {
        font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    .overview .overviewContent {
        font-size: 14px;
    }
}