/* Slider */
.slider {
  background: #f0f8ff;
  height: 100vh;
  background-image: url("../../../img/e-learning-bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .sloganBox {
  position: relative;
  top: 92px;
}
.slider .sloganContainer h1 {
  position: relative;
  z-index: 10;
  font-weight: 600;
  font-size: 55px;
}
.slider .sloganContainer h1:nth-child(1) {
  color: #2f79f9;
  font-size: 65px;
}
.slider .sloganContainer h1:nth-child(2) {
  color: #8275f8;
  font-size: 65px;
}
.slider .sloganContainer div div h1 {
  font-size: 70px;
  color: #d343f9 !important;
  overflow: hidden;
  animation: aniText 5s steps(10) infinite;
}
@keyframes aniText {
  0% {
    width: 0;
  }
  50% {
    width: 230px;
  }
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .slider .sliderHome {
    grid-template-columns: auto;
  }
  .slider {
    height: 100vh;
  }
  .slider .sloganBox {
    text-align: center;
  }
  .slider .titleOverview {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 100vw;
  }
}

@media screen and (max-width: 640px) {
  .slider .titleOverview h1:nth-child(1),
  .slider .titleOverview h1:nth-child(2) {
    font-size: 50px;
    right: 60px;
  }
  .slider .titleOverview div div h1 {
    font-size: 55px;
    right: 40px;
  }
}
@media screen and (max-width: 600px) {
  .slider {
    height: 60vh;
  }
  .slider .titleOverview h1:nth-child(1),
  .slider .titleOverview h1:nth-child(2) {
    font-size: 40px !important;
    right: 40px;
    bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .slider .titleOverview h1:nth-child(1),
  .slider .titleOverview h1:nth-child(2) {
    font-size: 40px;
    right: 70px;
  }
  .slider .titleOverview div div h1 {
    font-size: 45px;
    right: 50px;
  }
}

@media screen and (max-width: 415px) {
  .slider .titleOverview h1:nth-child(1),
  .slider .titleOverview h1:nth-child(2),
  .slider .titleOverview div div h1 {
    font-size: 35px;
    right: 20px;
  }
}
