div div div div div div div div div div ul li button{
    padding: 5px !important;
    color: #1c1f26 !important;
}
div div div div div div div div div div ul li button span svg{
    position: relative;
    bottom: 3px;
}