header div span span span button {
  padding: 2px 14px !important;
}
.formDrawerUserPage .inputUser {
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  width: 68vw;
  height: 32px;
  font-size: 16px;
  padding: 18px 10px;
}
.formDrawerUserPage{
  display: flex;
}
div div div ul li button span svg{
  position: absolute;
  bottom: 4px;
}

/* Responsive */
@media screen and (max-width: 1286px) {
  .formDrawerUserPage .inputUser {
    width: 64vw;
  }
}
@media screen and (max-width: 1127px) {
  .formDrawerUserPage .inputUser {
    width: 57vw;
  }
}
@media screen and (max-width: 992px) {
  .formDrawerUserPage .inputUser {
    width: 50vw;
  }
}
@media screen and (max-width: 902px) {
  .formDrawerUserPage {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .formDrawerUserPage .inputUser {
    width: 81vw;
  }
}
@media screen and (max-width: 390px) {
  .formDrawerUserPage .inputUser {
    width: 70vw;
  }
}