/* Header */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.computer{
    height: 60px;
    position: relative;
    bottom: 15px;
}
.headerTopWrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #227df9, #7462f9, #df3ef8);
}
.headerAbove{
    padding: 3px 0 9px;
    z-index: 1000;
    width: 100% !important;
    background: white;
}
.header .catalogHeader{
    display: block;
    height: 35px;
    transition: all 0.3s;
    position: relative;
}
.header .catalogHeader::after{
    content: "";
    background-color: #825df9;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0; left: 0;
    transition: all 0.3s;
    padding: 0 10px;
    opacity: 0;
}
.header .catalogHeader:hover{
    color: #2f79f9;
}
.header .catalogHeader:hover:after{
    width: 100%;
    opacity: 1;
}
.header .btnLogIn, .header .userInfo, .header .btnLogOut, .header .btnSignUp{
    transition: all 0.3s;
}
.header .btnLogIn:hover, .header .userInfo:hover, .header .btnLogOut:hover, .header .btnSignUp:hover{
    color: #2f79f9;
}
.header :where(.css-dev-only-do-not-override-1qhpsh8).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    padding: 10px;
}
.header .catalogUl{
    width: 220px;
    background: rgba(0, 0, 0, 0.4) !important;
    transition: all 0.3s;
}
.header .catalogUl li:hover{
    scale: 1.1;
    color: #ce44f8;
}
div div nav form span span input{
    width: 500px;
}
.header .container{
    width: 80%;
    margin: 0 auto;
}
.header .logoHeader{
    margin-top: 42px;
}
.header .headerRight{
    margin-bottom: 54px !important;
}

/* Header nav */
.header .nav-btn{
    font-size: 20px;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 20px;
}
.header .nav-btn:hover{
    color: #2f79f9;
}
.header .nav-close-btn{
    display: none;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    .header nav{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100%;
        width: 100%;
        transition: 1s;
        transform: translateY(-100vh);
        background: #000000;
        opacity: 0.8;
        z-index: 100;
    }
    .header .logoHeader{
        margin-bottom: 32px;
    }
    .header .responsive-nav{
        transform: none;
    }
    .header .nav-close-btn{
        position: absolute;
        top: 1rem;
        right: 2rem;
        display: block;
        font-size: 20px;
        color: red;
    }
    .header .formHeader{
        margin-top: 70px;
    }
    div div nav form span span input{
        width: 92vw !important;
    }
    .header .catalogHeaderUser{
        display: block;
        height: 35px;
        transition: all 0.3s;
        position: relative;
    }
    .header .catalogHeaderUser::after{
        content: "";
        background-color: #825df9;
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0; left: 0;
        transition: all 0.3s;
        padding: 0 10px;
        opacity: 0;
    }
    .header .catalogHeaderUser:hover{
        color: #2f79f9;
    }
    .header .catalogHeaderUser:hover:after{
        width: 100%;
        opacity: 1;
    }
}
@media screen and (max-width: 1000px) {
    .header .container{
        width: 98% !important;
        margin: 0 auto;
    }
}