.container{
    width: 80%;
    margin: 0 auto;
}
.truongDuLieu{
    width: 100%;
    font-size: 14px;
    height: 40px;
}
.formLogin [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), .formSignUp [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
   background: linear-gradient(to right, #227df9, #7462f9, #df3ef8) !important;
   padding: 7px;
   color: white !important;    
   border-radius: 20px;
   border: 1px solid #227df9;
   font-size: 12px;
   font-weight: 700;
   padding: 22px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: all 0.5s ease !important;
}
[type=submit]:not(:disabled):hover{
    background: linear-gradient(to right, #df3ef8, #7462f9,#227df9) !important;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-affix-wrapper {
    padding: 2px 11px;
}
.login-form-forgot{
    margin-left: 210px;
}

/* LOGINPAGE */
.loginPage{
    background-color: #eff0f5 !important;
    display: flex;
}
/* LOGIN */
.formLogin .title{
    font-size: 22px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 15px;
}
.formLogin .formDNhap{
    background-color: white;
    padding: 25px 50px 50px 25px;
    width: 520px;
}
.formLogin .textLogin{
    position: relative;
    bottom: 7px;
}
.formLogin :where(.css-dev-only-do-not-override-1qhpsh8).ant-form-item:nth-child(4) {
    margin-bottom: 0px;
}
/* SIGNUP */
.formSignUp .title{
    font-size: 22px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 15px;
}
.formSignUp .formDky{
    background-color: white;
    padding: 25px 50px 50px 25px;
    width: 520px;
}
.formSignUp .textSignUp{
    position: relative;
    bottom: 7px;
}
.formSignUp :where(.css-dev-only-do-not-override-1qhpsh8).ant-form-item:nth-child(8) {
    margin-bottom: 0px;
}

/* BG ANIMATE */
.bgAnimate{
    overflow: hidden !important;
}
.bgAnimate svg{
    width: 1000px !important;
    height: 1080px !important;
    position: relative;
    right: 70px;
    bottom: 80px;
}