.container{
    width: 80%;
    margin: 0 auto;
}
.truongDuLieu{
    width: 100%;
    font-size: 14px;
    height: 40px;
}
.formLogin [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), .formSignUp [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
   background: linear-gradient(to right, #227df9, #7462f9, #df3ef8) !important;
   padding: 7px;
   color: white !important;    
   border-radius: 20px;
   border: 1px solid #227df9;
   font-size: 12px;
   font-weight: 700;
   padding: 22px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: all 0.5s ease !important;
}
[type=submit]:not(:disabled):hover{
    background: linear-gradient(to right, #df3ef8, #7462f9,#227df9) !important;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-affix-wrapper {
    padding: 2px 11px;
}
.login-form-forgot{
    margin-left: 210px;
}

/* LOGINPAGE */
.loginPage{
    background-color: #eff0f5 !important;
}
.loginPage .bgAnimate{
    left: 550px;
}
/* LOGIN */
.formLogin .title{
    font-size: 22px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 15px;
}
.formLogin .formDNhap{
    background-color: white;
    padding: 25px 50px 50px 25px;
    width: 520px;
    margin-bottom: 600px;
}
.formLogin .textLogin{
    position: relative;
    bottom: 7px;
    width: 450px;
}
.formLogin :where(.css-dev-only-do-not-override-1qhpsh8).ant-form-item:nth-child(4) {
    margin-bottom: 0px;
}
/* SIGNUP */
.formSignUp .title{
    font-size: 22px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 15px;
}
.formSignUp .formDky{
    background-color: white;
    padding: 25px 50px 50px 25px;
    width: 520px;
    margin-bottom: 60px;
}
.formSignUp .textSignUp{
    position: relative;
    bottom: 7px;
}
.formSignUp :where(.css-dev-only-do-not-override-1qhpsh8).ant-form-item:nth-child(8) {
    margin-bottom: 0px;
}

/* BG ANIMATE */
.bgAnimate{
    position: absolute;
    left: 550px;
}
.bgAnimate svg{
    width: 1000px !important;
    height: 1080px !important;
    position: relative;
    right: 70px;
    bottom: 44px;
}
.layoutLottie{
    height: 1050px;
}

/* Responsive */
@media screen and (max-width: 1286px) {
  .layoutLottie.container, .loginPage.container{
    width: 98% !important;
    margin: 0;
  }
  .loginPage{
    height: 1050px;
  }
}
@media screen and (max-width: 1024px) {
    .layoutLottie.container, .loginPage.container{
        width: 80%;
        margin: 0 auto;
    }
    .formSignUp .formDky {
        width: 740px;
    }
    .formLogin .formDNhap {
        width: 740px;
    }
    .bgAnimate{
        left: 0;
        height: 500px;
    }
    .layoutLottie{
        height: 1950px;
    }
    .bgAnimate svg, .loginPage .bgAnimate{
        bottom: 175px;
    }
    .login-form-forgot {
        margin-left: 40vw;
    }
    .loginPage{
        height: 1400px;
    }
    .loginPage .bgAnimate svg{
        bottom: 400px;
    }
    .loginPage .bgAnimate {
        left: 0px;
    }
    .formSignUp .formDky, .formLogin .formDNhap{
        position: relative;
        z-index: 190;
    }
    .formLogin .textLogin{
        width: 67vw;
    }
}
@media screen and (max-width: 955px) {
    .formLogin .textLogin{
        width: 72vw;
    }
}
@media screen and (max-width: 900px) {
    .formLogin .textLogin{
        width: 76vw;
    }
}
@media screen and (max-width: 900px) {
    .formLogin .textLogin{
        width: 80vw;
    }
}
@media screen and (max-width: 786px) {
    .formSignUp .formDky {
        width: 93vw;
    }
    .bgAnimate{
        overflow: visible !important;
        height: 650px;
    }
    .bgAnimate svg{
        width: 100vw !important;
        bottom: 300px;
    }
    .layoutLottie{
        height: 1700px;
    }
    .bgAnimate svg{
        left: 5px;
    }
    .formLogin .textLogin{
        width: 84vw;
    }
    .loginPage .bgAnimate svg{
        bottom: 200px;
    }
    .loginPage{
        height: 1250px;
    }
}
@media screen and (max-width: 768px) {
    .formLogin .textLogin{
        width: 76vw;
    }
    .formLogin .formUser{
        width: 75vw !important;
    }
}
@media screen and (max-width: 745px) {
    .formSignUp .formDky {
        width: 88vw;
    }
}
@media screen and (max-width: 720px) {
    .formLogin .formUser{
        width: 82vw !important;
    }
    .formLogin .textLogin{
        width: 85vw;
    }
}
@media screen and (max-width: 700px) {
    .loginPage .bgAnimate svg{
        bottom: 100px;
    }
    .loginPage{
        height: 1150px;
    }
}
@media screen and (max-width: 680px) {
    .formLogin .formUser{
        width: 82vw !important;
    }
    .layoutLottie{
        height: 1650px;
    }
    .bgAnimate svg{
        bottom: 300px;
    }
    .login-form-forgot {
        margin-left: 25vw;
    }
    .loginPage{
        height: 1100px;
    }
}
@media screen and (max-width: 635px) {
    .formLogin .textLogin, .formLogin .formUser{
        width: 76vw !important;
    }
}
@media screen and (max-width: 600px) {
    .formLogin .textLogin, .formLogin .formUser{
        width: 80vw !important;
    }
    .loginPage .bgAnimate svg{
        bottom: 70px;
    }
}
@media screen and (max-width: 550px) {
    .bgAnimate svg{
        bottom: 390px;
    }
    .layoutLottie{
        height: 1500px;
    }
}
@media screen and (max-width: 520px) {
    .loginPage .bgAnimate svg{
        bottom: 40px;
    }
    .loginPage{
        height: 1050px;
    }
}
@media screen and (max-width: 470px) {
    .login-form-forgot {
        margin-left: 10vw;
    }
    .loginPage .bgAnimate svg{
        bottom: 0px;
    }
    .loginPage{
        height: 950px;
    }
}
@media screen and (max-width: 390px) {
    .bgAnimate svg{
        bottom: 430px;
    }
    .layoutLottie{
        height: 1400px;
    }
    .login-form-forgot {
        margin-left: 5vw;
    }
}