.coCreator{
  background-image: url('../../../img/lightTech.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 450px;
}
.coCreator .borderCoCreator{
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
@media screen and (max-width: 1286px) {
  .coCreator{
    margin-top: 350px;
  }
}
@media screen and (max-width: 1286px) {
  .coCreator{
    margin-top: 320px;
  }
}
@media screen and (max-width: 1110px) {
  .coCreator{
    margin-top: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .coCreator{
    margin-top: 250px;
  }
}
@media screen and (max-width: 880px) {
  .coCreator{
    margin-top: 300px;
  }
}
@media screen and (max-width: 773px) {
  .coCreator{
    margin-top: 350px;
  }
}
@media screen and (max-width: 768px) {
  .coCreator{
    margin-top: 650px;
  }
}
@media screen and (max-width: 680px) {
  .coCreator{
    margin-top: 630px;
  }
}
@media screen and (max-width: 640px) {
  .coCreator{
    margin-top: 510px;
  }
}
@media screen and (max-width: 545px) {
  .coCreator{
    margin-top: 450px;
  }
}
@media screen and (max-width: 420px) {
  .coCreator{
    margin-top: 420px;
  }
}
@media screen and (max-width: 365px) {
  .coCreator{
    margin-top: 350px;
  }
}