.schedule{
    background: #f4f8ff;
}
.schedule .btnReceive{
    padding: 22px;
}
@media screen and (max-width: 430px) {
    .schedule .btnReceive{
        font-size: 14px;
        padding: 14px;
    }
}
@media screen and (max-width: 355px) {
    .schedule .btnReceive{
        font-size: 12px;
        padding: 10px;
    }
}