/* All button */
.paginationPages { 
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-top: 40px;
}
/* Button border */
.pageLinkPages {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 5px;
    line-height: 1.25;
    color: #000;
    background: #b4cced;
    border: 2px solid #227df9;
    border-radius: 5px
}

.page-item.active .pageLinkPages {
    z-index: 3;
    color: #fff;
    background: linear-gradient(to right, #227df9, #7462f9, #df3ef8);
    border-color: #df3ef8;
}

.pageLinkPages:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(1,135,126,.25)
}

.pageLinkPages:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #227df9, #7462f9, #df3ef8) !important;
    border-color: #df3ef8;
}