.targetParticipate .titleTarget {
  font-size: 32px;
  letter-spacing: 2px;
}
.targetParticipate .imgTarget {
  width: 50vw !important;
}
.targetParticipate {
  background: #3f3651;
}
.targetParticipate .frameContainerLogo {
  transition: all 0.3s;
}
.targetParticipate .frameContainerLogo:hover .hoverLogo {
  background: #6366f1;
  color: #b9cbe8;
}
.targetParticipate .btnInbox {
  background: white !important;
  color: black !important;
  border: 3px solid #6366f1 !important;
}
.targetParticipate .btnRegister{
    background-image: linear-gradient(to left, #227df9 0%, #7462f9 25%, #df3ef8 50%, #7462f9 75%, #227df9 100%);
    transition: all 0.5s ease;
    transition-timing-function: ease, ease;
}
.targetParticipate .btnInbox:hover {
    color: white !important;
    border: none !important;
    position: relative !important;
    transition: all 0.5s ease !important;
    background-image: linear-gradient(90deg, #2d7af9 30%, #a752f8 80%) !important;
}
.targetParticipate{
  margin-top: 1800px;
}

/* Responsive */
@media screen and (max-width: 1110px) {
  .targetParticipate{
      margin-top: 1950px;
  }
}
@media screen and (max-width: 768px) {
  .targetParticipate{
      margin-top: 2950px;
  }
}
@media screen and (max-width: 680px) {
  .targetParticipate{
      margin-top: 3100px;
  }
}
@media screen and (max-width: 640px) {
  .targetParticipate{
    margin-top: 3200px;
}
}
@media screen and (max-width: 560px) {
  .targetParticipate{
    margin-top: 3250px;
}
}
@media screen and (max-width: 560px) {
  .targetParticipate{
    margin-top: 3350px;
}
}
@media screen and (max-width: 440px) {
  .targetParticipate{
    margin-top: 3400px;
}
}
@media screen and (max-width: 410px) {
  .targetParticipate{
    margin-top: 3500px;
}
}
@media screen and (max-width: 370px) {
  .targetParticipate{
    margin-top: 3550px;
}
}