.newPost{
    background: #272634;
    margin-top: 375px;
}
.newPost .titleNewPost{
    font-size: 40px;
    line-height: 50px;
    color: hsl(221, 94%, 60%);
}
.newPost .bgPost{
    border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .newPost .titleNewPost {
        font-size: 30px;
        line-height: 55px;
    }
}
@media screen and (max-width: 640px) {
    .newPost .titleNewPost {
        font-size: 25px;
        line-height: 50px;
    }
}
@media screen and (max-width: 600px) {
    .newPost{
        margin-top: 450px;
    }
}
@media screen and (max-width: 600px) {
    .newPost{
        margin-top: 500px;
    }
}
@media screen and (max-width: 412px) {
    .newPost{
        margin-top: 600px;
    }
}